name: Test Code

#############################
# Start the job on all push #
#############################
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Test Code
    # Set the agent to run on
    runs-on: ubuntu-latest

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          # Full git history is needed to get a proper list of changed files within `auto-formatter`
          fetch-depth: 0

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install requirements
        run: pip install -r requirements.txt

      - name: Test with unittests
        run: |
          python -m unittest -v test/utest_main.py
      ################################
      # Run Linter against code base #
      ################################
      - name: Auto-Formatter
        uses: mezgoodle/auto-formatter@v1.0.1
        env:
            GITHUB_TOKEN: ${{ secrets.TOKEN }}
            python: true
